<!DOCTYPE html>
<html lang="en">
<head>
    <jsp:directive.page contentType="text/html; charset=UTF-8"
                        pageEncoding="UTF-8" session="false" />
    <div th:replace="base/template :: meta"></div>
</head>
<body cz-shortcut-listen="true">
    <div th:replace="base/template :: header"></div>

    <div class="container">
        <center>
            <h1 class="display-3"><span>Списък с нашите клубове:</span></h1>
        </center>
    </div>
    <div class="container" id="all">
        <div class="row" th:each="club: ${clubs}">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="list-title" th:text="${club.name}"></h3>
                    <h3 class="pull-right" th:text="${club.dateTime}"></h3>
                </div>
                <div class="panel-body" th:utext="${club.description}"></div>
                <div class="panel-body bg-info" th:utext="${club.contacts}"></div>
            </div>

            <hr>
        </div>
    </div>

    <div th:replace="base/template :: footer"></div>
    <div th:replace="base/template :: js"></div>
</body>
</html>